{% extends 'base.html.twig' %}

{% block title %}Mon compte MHSC
{% endblock %}

{% block body %}
	<main class="mt-4 p-lg-5 p-2 w-100 container-md">
		<h1>Modifier mon mot de passe</h1>

		<div class="d-flex flex-column flex-md-row gap-3 justify-content-around">
			{% include "./profile/_profile_nav.html.twig" %}
			<hr>
			<div class=" w-100 p-2 p-lg-4">

				<h4 class="text-primary">Mot de passe</h4>
				{{ form_start(form) }}

				{{ form_row(form.oldPassword, {
					label: 'Mot de passe actuel'
				}) }}

				{{ form_row(form.plainPassword, {
					label: 'Nouveau mot de passe'
				}) }}

				<button type="submit" class="btn btn-primary">Valider</button>
				{{ form_end(form) }}
				{% for message in app.flashes('danger') %}
					<div class="alert alert-danger mt-2">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
