{% extends 'admin_base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}

	<main class="p-5 w-100">
		<h1>Articles</h1>

		<table class=" table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Type</th>
					<th>Titre</th>
					<th>Texte</th>
					<th>Image de présentation</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>{{ post.id }}</td>
						<td>{{ post.type }}</td>
						<td>{{ post.title }}</td>
						<td>{{ post.content }}</td>
						<td>{{ post.thumbnail }}</td>
						<td>
							<a href="{{ path('app_article_crud_show', {'id': post.id}) }}">show</a>
							<a href="{{ path('app_article_crud_edit', {'id': post.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_article_crud_new') }}">Create new</a>

	</main>
{% endblock %}
