{% extends 'admin_base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Post</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ post.id }}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{ post.type }}</td>
				</tr>
				<tr>
					<th>Catégorie</th>
					<td>{{ post.category }}</td>
				</tr>
				<tr>
					<th>Image de présentation</th>
					<td>{{ post.thumbnail }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ post.title }}</td>
				</tr>
				<tr>
					<th>Contenu</th>
					<td>{{ post.content }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_article_crud_index') }}">Retour à la liste</a>

		<a href="{{ path('app_article_crud_edit', {'id': post.id}) }}">Modifier</a>

		{{ include('article_crud/_delete_form.html.twig') }}
	</main>
{% endblock %}
