{% extends 'base.html.twig' %}

{% block title %}Calendrier & résultats -
	{{team[0].name}}
{% endblock %}

{% block body %}

	<main class="w-100 pb-5">
		<div class="mt-5 mb-4 w-100 container-md">
			<h1>Calendrier & résultats -
				{{team[0].name}}</h1>
		</div>
		<div class="row justify-content-center">


			{% for fixture in fixtures %}

				<div class="col-10 col-md-11 col-xl-7 result-score-row d-flex justify-content-between flex-nowrap align-items-center gap-2 my-1 bg-white p-1">

					<img class="result-logo-icon" src="{{fixture.teams.home.logo}}" alt="Logo {{fixture.teams.home.name}}">

					<div class="score-box d-flex flex-column justify-content-center">

						<div class="score-box__infos d-flex gap-2 justify-content-center align-items-center my-2">

							<p class="score-box__infos__match-infos mb-0 text-center">
								<img class="comp-icon" src="{{fixture.league.logo}}" alt="Logo {{fixture.league.name}}">
								{{fixture.league.name}}
								|
								{{fixture.league.round|replace({"Regular Season - ": "J"})}}
								|
								{{fixture.fixture.date|format_datetime('full', 'short', locale='fr')}}</p>

						</div>
						<div class="score-box__score d-flex justify-content-between align-items-center px-1">
							<div class="team h5 mb-0 d-none d-md-block">
								{{fixture.teams.home.name}}
							</div>
							{% if fixture.teams.home.winner or fixture.teams.away.winner %}
								<div class="score display-5 fw-bold text-primary text-center">{{fixture.goals.home ~ ' - ' ~ fixture.goals.away}}</div>
							{% else %}
								<div class="score fs-5 fw-bold text-primary text-center">A VENIR</div>
							{% endif %}
							<div class="team h5 mb-0  d-none d-md-block text-end">
								{{fixture.teams.away.name}}
							</div>
						</div>
						<div class="score-box__stadium text-center my-2">
							<p>{{ fixture.fixture.venue.name }}</p>

						</div>

					</div>

					<img class="result-logo-icon" src="{{fixture.teams.away.logo}}" alt="Logo {{fixture.teams.away.name}}">
				</div>
			{% endfor %}

		</div>

		<div class="navigation d-flex justify-content-center mt-3">
			{{ knp_pagination_render(fixtures) }}
		</div>

	</main>
{% endblock %}
