{% extends 'base.html.twig' %}

{% block title %}Effectif -
	{{team[0].name}}
{% endblock %}

{% block body %}

	<main class="w-100">
		<div class="mt-5 w-100 container-md">
			<h1>Effectif -
				{{team[0].name}}</h1>
		</div>

		<div class="goalkeepers py-5 bg-white">
			<div class="container-md">
				<h2 class="squad-title">Gardiens</h2>
				<div class="cards-container d-flex flex-wrap justify-content-center justify-content-md-start gap-4">
					{% for player in goalkeepers %}
						<div class="player-card player-card-blue">
							<img class="player-card__background" src="/assets/images/player-card-blue.png" alt="">
							<img class="player-card__photo" src="{{ asset(player.photo) }}" alt="Photo {{player.lastname}}">

							<div class="player-card__infos text-white fw-bold d-flex flex-column align-items-center">
								<p class="player-card__infos__number h1 title-primary">{{player.number ? player.number : '-'}}</p>
								{# <p>{{date('now').diff((player.getDateOfBirth )).format('%y ans')}}</p> #}
								<p class="mb-1">{{ date().diff(date(player.getBirthdate)).y}}
									ans</p>
								<img src="https://purecatamphetamine.github.io/country-flag-icons/3x2/{{player.nation}}.svg" alt="Drapeau">
							</div>
							<div class="player-card__player-name bg-primary-dark  py-2 px-3">
								<h5 class="text-white m-0">{{player.firstname}}</h5>
								<h4 class="player-card__player-name__name h1 title-mini-primary m-0">
									{{player.lastname}}</h4>
							</div>

						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="defenders py-5 bg-light">
			<div class="container-md">
				<h2 class="squad-title">Défenseurs</h2>
				<div class="cards-container d-flex flex-wrap justify-content-center justify-content-md-start gap-4">
					{% for player in defenders %}
						<div class="player-card">
							<img class="player-card__background" src="/assets/images/player-card-white.png" alt="">
							<img class="player-card__photo" src="{{ asset(player.photo) }}" alt="Photo {{player.lastname}}">

							<div class="player-card__infos text-secondary fw-bold d-flex flex-column align-items-center">
								<p class="player-card__infos__number h1 title-tertiary">{{player.number}}</p>
								{# <p>{{ player.getBirthdate|date('d/m/Y')}}</p> #}
								<p class="mb-1">{{ date().diff(date(player.getBirthdate)).y}}
									ans</p>
								<img src="https://purecatamphetamine.github.io/country-flag-icons/3x2/{{player.nation}}.svg" alt="Drapeau">
							</div>
							<div class="player-card__player-name bg-white  py-2 px-3">
								<h5 class="text-primary m-0">{{player.firstname}}</h5>
								<h4 class="player-card__player-name__name h1 title-mini-tertiary m-0">
									{{player.lastname}}</h4>
							</div>

						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="midfielders py-5 bg-white">
			<div class="container-md">
				<h2 class="squad-title">Milieux</h2>
				<div class="cards-container d-flex flex-wrap justify-content-center justify-content-md-start gap-4">
					{% for player in midfielders %}
						<div class="player-card player-card-blue">
							<img class="player-card__background" src="/assets/images/player-card-blue.png" alt="">
							<img class="player-card__photo" src="{{ asset(player.photo) }}" alt="Photo {{player.lastname}}">

							<div class="player-card__infos text-white fw-bold d-flex flex-column align-items-center">
								<p class="player-card__infos__number h1 title-primary">{{player.number}}</p>
								{# <p>{{date('now').diff((player.getDateOfBirth )).format('%y ans')}}</p> #}
								<p class="mb-1">{{ date().diff(date(player.getBirthdate)).y}}
									ans</p>
								<img src="https://purecatamphetamine.github.io/country-flag-icons/3x2/{{player.nation}}.svg" alt="Drapeau">
							</div>
							<div class="player-card__player-name bg-primary-dark  py-2 px-3">
								<h5 class="text-white m-0">{{player.firstname}}</h5>
								<h4 class="player-card__player-name__name h1 title-mini-primary m-0">
									{{player.lastname}}</h4>
							</div>

						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="forwards py-5 bg-light">
			<div class="container-md">
				<h2 class="squad-title">Attaquants</h2>
				<div class="cards-container d-flex flex-wrap justify-content-center justify-content-md-start gap-4">
					{% for player in forwards %}
						<div class="player-card">
							<img class="player-card__background" src="/assets/images/player-card-white.png" alt="">
							<img class="player-card__photo" src="{{ asset(player.photo) }}" alt="Photo {{player.lastname}}">

							<div class="player-card__infos text-secondary fw-bold d-flex flex-column align-items-center">
								<p class="player-card__infos__number h1 title-tertiary">{{player.number}}</p>
								{# <p>{{ player.getBirthdate|date('d/m/Y')}}</p> #}
								<p class="mb-1">{{ date().diff(date(player.getBirthdate)).y}}
									ans</p>
								<img src="https://purecatamphetamine.github.io/country-flag-icons/3x2/{{player.nation}}.svg" alt="Drapeau">
							</div>
							<div class="player-card__player-name bg-white  py-2 px-3">
								<h5 class="text-primary m-0">{{player.firstname}}</h5>
								<h4 class="player-card__player-name__name h1 title-mini-tertiary m-0">
									{{player.lastname}}</h4>
							</div>

						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>{% endblock %}
