{% extends 'base.html.twig' %}

{% block title %}MHSC - Accueil
{% endblock %}

{% block body %}
	<main class=" pb-5">

		<section class="home-article">
			<img class="home-article__image" src="{{asset(mainPost.thumbnail)}}" alt="Image de présentation de l'article">
			<div class="home-article__gradient"></div>
			<div class="home-article__infos d-flex flex-column justify-content-end">
				<h1 class="title-secondary">{{mainPost.title}}</h1>
				<div class="home-article__infos__details d-flex justify-content-end ">
					<p>Publié le
						{{mainPost.getPublishDate()|date("d/m/Y")}}</p>
					<p class="category">{{mainPost.category}}</p>
				</div>
			</div>
		</section>

		<section class="home-articles d-flex container ">
			<div class="home-articles__container m-auto d-flex flex-column flex-lg-row w-100 gap-4">
				<div class="home-articles__column1 ">
					<article class="home-articles__article-1 ">
						<img src="{{asset(mainPost.thumbnail)}}" alt="">

						<div class="home-articles__article-1__infos">
							<h4 class="">{{mainPost.title}}</h4>
							<div class="">
								<p>{{mainPost.content|striptags|u.truncate(100,'...')|raw}}</p>
							</div>
							<p class="category category-mini">{{mainPost.category}}</p>
						</div>
					</article>
					<article class="home-articles__article-2">
						<img src="{{asset(mainPost.thumbnail)}}" alt="">

						<div class="home-articles__article-2__infos">
							<h4 class="">{{mainPost.title}}</h4>
							<div class="">
								<p>{{mainPost.content|striptags|u.truncate(120,'...')|raw}}</p>
							</div>
						</div>
						<p class="category category-mini">{{mainPost.category}}</p>
					</article>
				</div>
				<div class="home-articles__column2 ">
					<article class="home-articles__article-3">
						<img src="{{asset(mainPost.thumbnail)}}" alt="">
						<div class="home-articles__article-3__gradient"></div>
						<h4 class="">{{mainPost.title}}</h4>
						<p class="category category-mini">{{mainPost.category}}</p>
					</article>
					<article class="home-articles__article-2">
						<img src="{{asset(mainPost.thumbnail)}}" alt="">

						<div class="home-articles__article-2__infos">
							<h4 class="">{{mainPost.title}}</h4>
							<div class="">
								<p>{{mainPost.content|striptags|u.truncate(170,'...')|raw}}</p>
							</div>
						</div>
						<p class="category category-mini">{{mainPost.category}}</p>
					</article>
					<article class="home-articles__article-4">

						<div class="">
							<img src="{{asset(mainPost.thumbnail)}}" alt="">
							<p>{{mainPost.content|striptags|u.truncate(190,'...')|raw}}</p>
						</div>
						<h4 class="">{{mainPost.title}}</h4>
						<p class="category category-mini">{{mainPost.category}}</p>
					</article>
				</div>
				<aside class="p-3 d-flex flex-column justify-content-between">
					<h4 class="text-center text-primary">Fil actus</h4>
					<div class="last-news-list">

						{% for new in news %}
							<div class="last-news-item d-flex justify-content-between flex-wrap">

								<h5 class="">{{new.title}}</h5>
								<p class="category category-mini ">{{new.category}}</p>
								<p class="new-content w-100">{{new.content|striptags|u.truncate(50,'...')|raw}}</p>
							</div>
						{% endfor %}
					</div>
					<a class="link link-secondary text-center d-block" href="">Toutes les infos</a>
				</aside>
			</div>
		</section>

	</main>
{% endblock %}
