{% extends 'base.html.twig' %}

{% block title %}MHSC - Accueil
{% endblock %}

{% block body %}
	<main class=" pb-5">

		<section class="home-article">
			<a class="home-article__link" href="{{ path('app_news_display', {'id': news[0].id}) }}">

				<img class="home-article__image" src="{{asset(news[0].thumbnail)}}" alt="Image de présentation de l'article">
				<div class="home-article__gradient"></div>
				<div class="home-article__infos d-flex flex-column justify-content-end">
					<h1 class="title-home-article">{{news[0].title}}</h1>
					<div class="home-article__infos__details d-flex justify-content-end ">
						<p>Publié le
							{{news[0].getPublishDate()|date("d/m/Y")}}</p>
						<p class="category">{{news[0].category}}</p>
					</div>
				</div>
			</a>
		</section>

		<section class="home-articles d-flex container-xl">
			<div class="home-articles__container m-auto d-flex flex-column flex-lg-row   w-100 gap-4">
				<div class="home-articles__column1 ">

					<a class="home-articles__link-1" href="{{ path('app_news_display', {'id': news[1].id}) }}">

						<article class="home-articles__link-1__article">
							<img src="{{asset(news[1].thumbnail)}}" alt="">

							<div class="home-articles__link-1__article__infos">
								<h4>{{news[1].title}}</h4>
								<div>
									<p>{{news[1].content|striptags|u.truncate(100,'...')|raw}}</p>
								</div>
								<p class="category category-mini">{{news[1].category}}</p>
							</div>
						</article>
					</a>
					<a class="home-articles__link-2" href="{{ path('app_news_display', {'id': news[2].id}) }}">

						<article class="home-articles__link-2__article">
							<img src="{{asset(news[2].thumbnail)}}" alt="">

							<div class="home-articles__link-2__article__infos">
								<h4>{{news[2].title}}</h4>
								<div>
									<p>{{news[2].content|striptags|u.truncate(120,'...')|raw}}</p>
								</div>
							</div>
							<p class="category category-mini">{{news[2].category}}</p>
						</article>
					</a>
				</div>
				<div class="home-articles__column2 ">
					<a class="home-articles__link-3" href="{{ path('app_news_display', {'id': news[3].id}) }}">

						<article class="home-articles__link-3__article">
							<img src="{{asset(news[3].thumbnail)}}" alt="">
							<div class="home-articles__link-3__article__gradient"></div>
							<h4>{{news[3].title}}</h4>
							<p class="category category-mini">{{news[3].category}}</p>
						</article>
					</a>
					<a class="home-articles__link-2" href="{{ path('app_news_display', {'id': news[4].id}) }}">

						<article class="home-articles__link-2__article">
							<img src="{{asset(news[4].thumbnail)}}" alt="">

							<div class="home-articles__link-2__article__infos">
								<h4>{{news[4].title}}</h4>
								<div>
									<p>{{news[4].content|striptags|u.truncate(150,'...')|raw}}</p>
								</div>
							</div>
							<p class="category category-mini">{{news[4].category}}</p>
						</article>
					</a>
					<a class="home-articles__link-4" href="{{ path('app_news_display', {'id': news[5].id}) }}">
						<article class="home-articles__link-4__article">

							<div>
								<img src="{{asset(news[5].thumbnail)}}" alt="">
								<p>{{news[5].content|striptags|u.truncate(150,'...')|raw}}</p>
							</div>
							<h4>{{news[5].title}}</h4>
							<p class="category category-mini">{{news[5].category}}</p>
						</article>
					</a>
				</div>
				<aside class="p-3 d-flex flex-column justify-content-between" style="min-width: 360px;">
					{% include "./news/_news_feed.html.twig" %}</aside>
			</div>
		</section>
		<section class="home-results d-flex">
			<img class="home-results__background" src="/assets/images/background-orange.png" alt="Image de présentation de l'article">
			<div class="home-results__content py-5">
				<h1 class="title-secondary text-center">Matchs</h1>
				<div class="home-results__content__widgets mt-5 d-flex flex-wrap px-3 gap-4 gap-xxl-1 flex-column flex-md-row justify-content-between justify-content-xxl-around align-items-lg-center container-fluid container-md">
					<div class="home-results__content__widgets__last-fixtures rounded bg-white shadow-sm py-4 px-2">
						<h4 class="text-center">Derniers résultats</h3>


						<div class="score-table">

							{% for fixture in lastFixtures|reverse %}
								<div class="score-row d-flex justify-content-space-between flex-nowrap align-items-center gap-2 my-1 bg-white p-2 rounded">
									<div class="comp rounded bg-light d-flex flex-column align-items-center justify-content-between gap-1 p-1">
										<img class="comp-icon" src="{{fixture.league.logo}}" alt="Logo {{fixture.league.name}}">
										<div class="date text-center">{{fixture.fixture.date|date('d/m')}}</div>
									</div>
									<img class="logo-icon" src="{{fixture.teams.home.logo}}" alt="Logo {{fixture.teams.home.name}}">
									<div class="team">
										{{fixture.teams.home.name}}
									</div>
									<div class="score-box">
										<div class="score px-1 rounded">{{fixture.goals.home ~ ' - ' ~ fixture.goals.away}}</div>
									</div>
									<div class="team text-end">
										{{fixture.teams.away.name}}
									</div>
									<img class="logo-icon" src="{{fixture.teams.away.logo}}" alt="Logo {{fixture.teams.away.name}}">
								</div>
							{% endfor %}

							<a class="link link-primary text-center d-block" href="/equipe/pro/calendrier-et-resultats">Résultats complets</a>
						</div>

					</div>
					<div class="home-results__content__widgets__next-fixture rounded bg-white shadow-sm py-4 px-2 px-lg-3 border-bottom border-primary border-5">

						<h4 class="text-center">Prochains matchs</h3>
						<div
							class="CSSgal">

							<!-- Don't wrap targets in parent -->
							<s id="s1"></s>
							<s id="s2"></s>
							<s id="s3"></s>
							<s id="s4"></s>
							<s id="s5"></s>

							<div class="slider">

								{% for fixture in nextFixtures %}
									<div class="next-fixture-box">

										<div class="next-fixture-box__infos">
											<div class="next-fixture-box__infos_competition d-flex gap-2 justify-content-center align-items-center my-2">

												<p class=" mb-0">
													<img class="comp-icon" src="{{fixture.league.logo}}" alt="Logo {{fixture.league.name}}">
													{{fixture.league.name}}
													|
													{{fixture.league.round|replace({"Regular Season - ": "J"})}}
													|
													{{fixture.fixture.date|format_datetime('full', 'short', locale='fr')}}</p>

											</div>
											<div class="next-fixture-box__infos_stadium my-2">
												<p>{{ fixture.fixture.venue.name }}</p>

											</div>
										</div>
										<div class="next-fixture-box__fixture d-flex my-4 justify-content-around px-1 px-xl-5">

											<div class="next-fixture-box__fixture__team-box py-3 d-flex flex-column justify-content-between align-items-center">
												<img class="logo-fixture mb-4" src="{{fixture.teams.home.logo}}" alt="Logo {{fixture.teams.home.name}}">
												<div class="next-fixture-box__fixture__team-box__team h5">
													{{fixture.teams.home.name}}
												</div>
											</div>

											<div class="next-fixture-box__fixture__separator d-flex flex-column justify-content-center">
												<p class="h2 display-5 display-xl-2">
													VS
												</p>
											</div>

											<div class="next-fixture-box__fixture__team-box py-3 d-flex flex-column justify-content-between align-items-center">

												<img class="logo-fixture mb-4" src="{{fixture.teams.away.logo}}" alt="Logo {{fixture.teams.away.name}}">

												<div class="next-fixture-box__fixture__team-box__team h5">
													{{fixture.teams.away.name}}
												</div>
											</div>
										</div>
										<div class="next-fixture-box__fixture_buttons d-flex mt-4 justify-content-end">

											{% if fixture.teams.home.id == mainTeam.parameters.team %}
												<a class="btn btn-secondary" href="{{ path('app_player_crud_new') }}">Billetterie</a>
											{% endif %}


											<a class="btn btn-primary" href="{{ path('app_player_crud_new') }}">Calendrier</a>
										</div>
									</div>
								{% endfor %}

							</div>

							<div class="prevNext">
								<div>
									<a href="#s5">
										<i class="fa-solid fa-arrow-left-long"></i>
									</a>
									<a href="#s2">
										<i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
								<div>
									<a href="#s1">
										<i class="fa-solid fa-arrow-left-long"></i>
									</a>
									<a href="#s3">
										<i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
								<div>
									<a href="#s2">
										<i class="fa-solid fa-arrow-left-long"></i>
									</a>
									<a href="#s4">
										<i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
								<div>
									<a href="#s3">
										<i class="fa-solid fa-arrow-left-long"></i>
									</a>
									<a href="#s5">
										<i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
								<div>
									<a href="#s4">
										<i class="fa-solid fa-arrow-left-long"></i>
									</a>
									<a href="#s1">
										<i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
							</div>


						</div>

					</div>
					<div class="home-results__content__widgets__standing rounded bg-white shadow-sm py-4 px-2">
						<h4 class="text-center">Classement
							{{ league }}</h3>


						<table class=" table">
							<thead class="text-primary border-primary">
								<tr>
									<th>POS</th>
									<th>EQUIPE</th>
									<th>J</th>
									<th class="text-center">PTS</th>
								</tr>
							</thead>
							<tbody>
								{% for team in standings %}
									<tr class="{{team.team.id == mainTeam.parameters.team ? 'bg-secondary text-white' : '' }}">
										<td>{{team.rank}}</td>
										<td><img class="logo-icon" src="{{team.team.logo}}" alt="Logo {{team.team.name}}">
											{{team.team.name}}</td>
										<td>{{team.all.played}}</td>
										<td class="fw-bold text-center">{{team.points}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<a class="link link-primary text-center d-block" href="/equipe/pro/classement">Classement complet</a>
					</div>
				</div>

			</section>
		</main>
	{% endblock %}
