{% extends 'base.html.twig' %}

{% block title %}MHSC - Accueil
{% endblock %}

{% block body %}
	<main class=" pb-5">

		<section class="home-article">
			<a class="home-article__link" href="{{ path('app_news_display', {'id': news[0].id}) }}">

				<img class="home-article__image" src="{{asset(news[0].thumbnail)}}" alt="Image de présentation de l'article">
				<div class="home-article__gradient"></div>
				<div class="home-article__infos d-flex flex-column justify-content-end">
					<h1 class="title-home-article">{{news[0].title}}</h1>
					<div class="home-article__infos__details d-flex justify-content-end ">
						<p>Publié le
							{{news[0].getPublishDate()|date("d/m/Y")}}</p>
						<p class="category">{{news[0].category}}</p>
					</div>
				</div>
			</a>
		</section>

		<section class="home-articles d-flex container-xl">
			<div class="home-articles__container m-auto d-flex flex-column flex-lg-row   w-100 gap-4">
				<div class="home-articles__column1 ">

					<a class="home-articles__link-1" href="{{ path('app_news_display', {'id': news[1].id}) }}">

						<article class="home-articles__link-1__article">
							<img src="{{asset(news[1].thumbnail)}}" alt="">

							<div class="home-articles__link-1__article__infos">
								<h4>{{news[1].title}}</h4>
								<div>
									<p>{{news[1].content|striptags|u.truncate(100,'...')|raw}}</p>
								</div>
								<p class="category category-mini">{{news[1].category}}</p>
							</div>
						</article>
					</a>
					<a class="home-articles__link-2" href="{{ path('app_news_display', {'id': news[2].id}) }}">

						<article class="home-articles__link-2__article">
							<img src="{{asset(news[2].thumbnail)}}" alt="">

							<div class="home-articles__link-2__article__infos">
								<h4>{{news[2].title}}</h4>
								<div>
									<p>{{news[2].content|striptags|u.truncate(120,'...')|raw}}</p>
								</div>
							</div>
							<p class="category category-mini">{{news[2].category}}</p>
						</article>
					</a>
				</div>
				<div class="home-articles__column2 ">
					<a class="home-articles__link-3" href="{{ path('app_news_display', {'id': news[3].id}) }}">

						<article class="home-articles__link-3__article">
							<img src="{{asset(news[3].thumbnail)}}" alt="">
							<div class="home-articles__link-3__article__gradient"></div>
							<h4>{{news[3].title}}</h4>
							<p class="category category-mini">{{news[3].category}}</p>
						</article>
					</a>
					<a class="home-articles__link-2" href="{{ path('app_news_display', {'id': news[4].id}) }}">

						<article class="home-articles__link-2__article">
							<img src="{{asset(news[4].thumbnail)}}" alt="">

							<div class="home-articles__link-2__article__infos">
								<h4>{{news[4].title}}</h4>
								<div>
									<p>{{news[4].content|striptags|u.truncate(150,'...')|raw}}</p>
								</div>
							</div>
							<p class="category category-mini">{{news[4].category}}</p>
						</article>
					</a>
					<a class="home-articles__link-4" href="{{ path('app_news_display', {'id': news[5].id}) }}">
						<article class="home-articles__link-4__article">

							<div>
								<img src="{{asset(news[5].thumbnail)}}" alt="">
								<p>{{news[5].content|striptags|u.truncate(150,'...')|raw}}</p>
							</div>
							<h4>{{news[5].title}}</h4>
							<p class="category category-mini">{{news[5].category}}</p>
						</article>
					</a>
				</div>
				<aside class="p-3 d-flex flex-column justify-content-between" style="min-width: 360px;">
					{% include "./news/_news_feed.html.twig" %}</aside>
			</div>
		</section>

		<section class="home-results d-flex ">
			<img class="home-results__background" src="/assets/images/background-orange.png" alt="Image de présentation de l'article">
			<div class="home-results__content py-5">
				<h1 class="title-secondary text-center">Matchs</h1>
				<div class="home-results__content__widgets mt-5 d-flex flex-wrap px-2 px-lg-5 gap-2 gap-md-3 gap-lg-5 flex-column flex-xl-row justify-content-lg-around align-items-lg-center">
					<div class="home-results__content__widgets__last-fixtures rounded bg-light p-2 p-lg-3">
						<h4 class="text-center">Derniers résultats</h3>


						<div class="score-table">

							{% for fixture in lastFixtures|reverse %}
								<div class="score-row d-flex justify-content-space-between flex-nowrap align-items-center gap-2 my-1 bg-white p-2 rounded">
									<div class="comp rounded bg-light d-flex flex-column align-items-center justify-content-between gap-1 p-1">
										<img class="comp-icon" src="{{fixture.league.logo}}" alt="Logo {{fixture.league.name}}">
										<div class="date text-center">{{fixture.fixture.date|date('d/m')}}</div>
									</div>
									<img class="logo-icon" src="{{fixture.teams.home.logo}}" alt="Logo {{fixture.teams.home.name}}">
									<div class="team">
										{{fixture.teams.home.name}}
									</div>
									<div class="score-box">
										<div class="score px-1 rounded">{{fixture.goals.home ~ ' - ' ~ fixture.goals.away}}</div>
									</div>
									<div class="team text-end">
										{{fixture.teams.away.name}}
									</div>
									<img class="logo-icon" src="{{fixture.teams.away.logo}}" alt="Logo {{fixture.teams.away.name}}">
								</div>
							{% endfor %}

						</div>
						<div class="score-table-2">

							{% for fixture in lastFixtures|reverse %}

								<div class="score-row d-flex justify-content-space-between flex-nowrap align-items-center gap-2 my-1 bg-white p-2 rounded">
									<div class="comp rounded bg-light d-flex flex-column align-items-center justify-content-between gap-1 p-1">
										<img class="comp-icon" src="{{fixture.league.logo}}" alt="Logo {{fixture.league.name}}">
										<div class="date text-center">{{fixture.fixture.date|date('d/m')}}</div>
									</div>

									<div class="team-box d-flex flex-column gap-1">
										<div>

											<p class="team"><img class="logo-icon" src="{{fixture.teams.home.logo}}" alt="Logo {{fixture.teams.home.name}}">
												{{fixture.teams.home.name}}
											</p>
										</div>
										<div>


											<p class="team"><img class="logo-icon" src="{{fixture.teams.away.logo}}" alt="Logo {{fixture.teams.away.name}}">
												{{fixture.teams.away.name}}
											</p>
										</div>
									</div>

									<div class="score-box d-flex flex-column gap-1">
										<div class="score px-1 rounded">{{fixture.goals.home}}</div>
										<div class="score px-1 rounded">{{fixture.goals.away}}</div>
									</div>
								</div>
							{% endfor %}

						</div>

					</div>
					<div class="home-results__content__widgets__next-fixture rounded bg-light p-2 p-lg-4">
						<h4 class="text-center">Prochains matchs</h3>
						<div
							class="CSSgal">

							<!-- Don't wrap targets in parent -->
							<s id="s1"></s>
							<s id="s2"></s>
							<s id="s3"></s>
							<s id="s4"></s>
							<s id="s5"></s>

							<div class="slider">
								<div style="background:#5b8;">
									<h2>PURE
										<b>CSS</b>
										SLIDESHOW</h2>
									<p>Responsive Slideshow Gallery created using CSS only<br>by Roko</p>
								</div>
								<div style="background:#85b;">
									<h2>Slide 2</h2>
								</div>
								<div style="background:#e95;">
									<h2>Slide 3</h2>
								</div>
								<div style="background:#e59;">
									<h2>Slide 4</h2>
								</div>
								<div style="background:#e59;">
									<h2>Slide 5</h2>
								</div>
							</div>

							<div class="prevNext">
								<div>
									<a href="#s5"></a>
									<a href="#s2"></a>
								</div>
								<div>
									<a href="#s1"></a>
									<a href="#s3"></a>
								</div>
								<div>
									<a href="#s2"></a>
									<a href="#s4"></a>
								</div>
								<div>
									<a href="#s3"></a>
									<a href="#s5"></a>
								</div>
								<div>
									<a href="#s4"></a>
									<a href="#s1"></a>
								</div>
							</div>


						</div>

					</div>
					<div class="home-results__content__widgets__standing rounded bg-light p-2 p-lg-3">
						<h4 class="text-center">Classement
							{{ league }}</h3>


						<table class=" table">
							<thead>
								<tr>
									<th>POS</th>
									<th>EQUIPE</th>
									<th>PTS</th>
								</tr>
							</thead>
							<tbody>

								{% for team in standings %}

									<tr>
										<td>{{team.rank}}</td>
										<td><img class="logo-icon" src="{{team.team.logo}}" alt="Logo {{team.team.name}}">
											{{team.team.name}}</td>
										<td>{{team.points}}</td>
									</tr>

								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>

			</section>
		</main>
	{% endblock %}
