<header class="bg-white">

	<nav class="navbar navbar-expand-lg container-md justify-content-between">
		<div class="navbar navbar-expand-lg p-0">
			<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt=""></a>

			<a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
				<i class="fa-solid fa-bars"></i>
				MENU
			</a>
			<div class="navbar d-none d-lg-flex">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/boutique">BOUTIQUE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/billetterie">BILLETTERIE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/actualites">ACTUALITES</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="dropdown">
			<a class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

				<i class="fa-solid fa-circle-user text-primary"></i>
			</a>
			<div class="dropdown-menu  dropdown-menu-end" aria-labelledby="dropdownMenuButton">

				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a class="dropdown-item" href="{{path('app_profile')}}">Mon profil</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a class="dropdown-item" href="/administration">Administration</a>
					{% endif %}
					<a class="dropdown-item text-danger" href="/deconnexion">Deconnexion</a>
				{% else %}
					<a class="dropdown-item" href="/connexion">Connexion</a>
					<a class="dropdown-item" href="/inscription">Inscription</a>
				{% endif %}

			</div>
		</div>

	</nav>


</header>


<nav class="offcanvas offcanvas-start text-white bg-secondary" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header  p-5">
		<h5 class="offcanvas-title  text-white" id="offcanvasExampleLabel">

			<button type="button" class="btn fs-3  text-white" data-bs-dismiss="offcanvas" aria-label="Close">
				<i class="fa-solid fa-xmark"></i>
			</button>
			MENU</h5>
	</div>
	<div class="d-flex flex-column h-100">

		<div class="container   px-5  pb-5">
			<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
				<li class="w-100 submenu">
					<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle d-flex justify-content-between align-items-center">
						<span>CLUB</span>
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">

						{% for page in clubPages %}
							<li class="w-100">
								<a href="{{ path('app_single_page', {slug : page.slug}) }}" class="nav-link px-0">
									<span class="d-none d-sm-inline">{{page.title}}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="w-100 submenu">
					<a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle d-flex justify-content-between align-items-center">
						<span>EQUIPE PRO</span>
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
						<li class="w-100">
							<a href="/equipe/pro/effectif" class="nav-link px-0">
								Effectif</a>
						</li>
						<li>
							<a href="/equipe/pro/staff" class="nav-link px-0">Staff</a>
						</li>
						<li>
							<a href="/equipe/pro/calendrier-et-resultats" class="nav-link px-0">
								Calendrier & résultats</a>
						</li>
						<li>
							<a href="/equipe/pro/classement" class="nav-link px-0">
								Classement</a>
						</li>
					</ul>
				</li>
				<li class="w-100 submenu">
					<a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle d-flex justify-content-between align-items-center">
						<span>FEMININES</span>
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
						<li class="w-100">
							<a href="/equipe/feminines/effectif" class="nav-link px-0">
								Effectif</a>
						</li>
						<li>
							<a href="/equipe/feminines/staff" class="nav-link px-0">
								Staff</a>
						</li>
						<li>
							<a href="/equipe/feminines/calendrier-et-resultats" class="nav-link px-0">
								Calendrier & résultats</a>
						</li>
						<li>
							<a href="/equipe/feminines/classement" class="nav-link px-0">
								Classement</a>
						</li>
					</ul>
				</li>
				<li class="w-100 submenu">
					<a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle d-flex justify-content-between align-items-center">
						<span>AUTRES EQUIPES</span>
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
						<li class="w-100">
							<a href="/equipe/reserve/effectif" class="nav-link px-0">
								Effectif réserve National 3</a>
						</li>
						<li>
							<a href="/equipe/u19/effectif" class="nav-link px-0">
								Effectif U19 nationaux</a>
						</li>
					</ul>
				</li>
				<li class="w-100 submenu">
					<a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle d-flex justify-content-between align-items-center">
						<span>SUPPORTERS</span>
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
						{% for page in fansPages %}
							<li class="w-100">
								<a href="{{ path('app_single_page', {slug : page.slug}) }}" class="nav-link px-0">
									<span class="d-none d-sm-inline">{{page.title}}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="w-100 submenu">
					<a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle d-flex justify-content-between align-items-center">
						<span>DIVERS</span>
						<i class="fa-solid fa-angle-down"></i>
					</a>
					<ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
						{% for page in otherPages %}
							<li class="w-100">
								<a href="{{ path('app_single_page', {slug : page.slug}) }}" class="nav-link px-0">
									<span class="d-none d-sm-inline">{{page.title}}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>

		<div class="bg-primary h-100 container  p-5">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/boutique">BOUTIQUE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/billetterie">BILLETTERIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/actualites">ACTUALITES</a>
				</li>
			</ul>


			<ul class="navbar-nav d-flex flex-row justify-content-around mt-4 social-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa-brands fa-twitter"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</li>
			</ul>

		</div>


	</div>
</nav>
