{% extends 'admin_base.html.twig' %}

{% block title %}Staffs
{% endblock %}

{% block body %}

	<main class="p-5 w-100">
		<h1>Staffs</h1>

		<table id="datatable" class=" table">
			<thead>
				<tr>
					<th>Photo</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Date de naissance</th>
					<th>Ville de naissance</th>
					<th>Nationalité</th>
					<th>Role</th>
					<th>Equipe</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for staff in staffs %}
					<tr class="align-middle">
						<td><img class="photo-admin" src="{{ asset(staff.photo) }}" alt="Photo"></td>
						<td>
							<p class="m-0">{{ staff.firstname }}</p>
						</td>
						<td>
							<p class="m-0">{{ staff.lastname }}</p>
						</td>
						<td>
							<p class="m-0">{{ staff.birthdate|date('d/m/Y') }}</p>
						</td>
						<td>
							<p class="m-0">{{ staff.cityOfBirth }}</p>
						</td>
						<td>
							<img style="max-width : 50px;" src="https://purecatamphetamine.github.io/country-flag-icons/3x2/{{staff.nation}}.svg" alt="Drapeau">
						</td>
						<td>
							<p class="m-0">{{ staff.role }}</p>
						</td>
						<td>
							<p class="m-0">{{ staff.team }}</p>
						</td>
						<td>
							<div class="dropdown">
								<a class=" btn btn-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-pen"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-end" aria-labelledby="dropdownMenuButton">

									<a class="dropdown-item" href="{{ path('app_staff_crud_show', {'id': staff.id}) }}">Voir</a>
									<a class="dropdown-item text-warning" href="{{ path('app_staff_crud_edit', {'id': staff.id}) }}">Modifier</a>

									{{ include('staff_crud/_delete_form.html.twig') }}
								</div>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucun staff trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('app_staff_crud_new') }}">Nouveau staff</a>

	</main>
{% endblock %}
