{% extends 'admin_base.html.twig' %}

{% block title %}Vidéos
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Post index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Content</th>
					<th>Video</th>
					<th>Thumbnail</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>{{ post.title }}</td>
						<td>{{ post.content }}</td>
						<td>{{ post.video }}</td>
						<td>{{ post.thumbnail }}</td>
						<td>
							<a href="{{ path('app_video_crud_show', {'id': post.id}) }}">show</a>
							<a href="{{ path('app_video_crud_edit', {'id': post.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_video_crud_new') }}">Create new</a>
	</main>
{% endblock %}
