{% extends 'admin_base.html.twig' %}

{% block title %}Equipes
{% endblock %}

{% block body %}

	<main class="p-5 w-100">
		<h1>Equipes</h1>

		<table class=" table">
			<thead>
				<tr>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody>
				{% for team in teams %}
					<tr>
						<td>{{ team.name }}</td>
						<td>
							<div class="dropdown">
								<a class=" btn btn-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-pen"></i>
								</a>
								<div class="dropdown-menu  dropdown-menu-end" aria-labelledby="dropdownMenuButton">

									<a class="dropdown-item" href="{{ path('app_team_crud_show', {'id': team.id}) }}">Voir</a>
									<a class="dropdown-item text-warning" href="{{ path('app_team_crud_edit', {'id': team.id}) }}">Modifier</a>

									{{ include('team_crud/_delete_form.html.twig') }}
								</div>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucune équipe trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('app_team_crud_new') }}">Nouvelle catégorie</a>

	</main>
{% endblock %}
