{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.title) }}
{{ form_row(form.thumbnail) }}
{{ form_row(form.content) }}
{{ form_row(form.imagePosts) }}
{{ form_row(form.category) }}


<button class="btn btn-primary">
	{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
