{% extends 'shop_base.html.twig' %}

{% block title %}Boutique MHSC
{% endblock %}

{% block body %}

	<main class=" w-100 mb-5 pb-2 pb-md-5">

		<header class="shop-page__header mb-5">
			<img class="shop-page__header__image" src="/assets/images/background-bleu.png" alt="Image de présentation de l'article">

			<div class="shop-page__header__title container-md py-4 d-flex align-items-center w-100 ">
				<h1 class="mb-0 text-center w-100 title-primary">MHSC STORE</h1>
			</div>
		</header>

		<section class="container-md d-flex flex-column flex-md-row px-5">

			<aside
				class="product-filter mb-5">
				{# <nav class="mb-3">
																																																																																																																																																																																																																																							{% for category in categories %}
																																																																																																																																																																																																																																								<a class="nav-link" href="">{{category.name}}</a>
																																																																																																																																																																																																																																							{% endfor %}
																																																																																																																																																																																																																																						</nav> #}

				{{ form_start(form) }}
				<h4>Catégories</h4>
				{{ form_row(form.category) }}
				<h4>Filtres</h4>
				<h6 class="text-secondary">Prix</h6>
				{{ form_row(form.minPrice) }}
				{{ form_row(form.maxPrice) }}
				<h6 class="text-secondary">Taille</h6>
				{{ form_row(form.sizes) }}
				{# <h6 class="text-secondary">Couleur</h6>
																																																																																																																																																																																																																																			{{ form_row(form.colors) }} #}
				<button type="submit" class="btn btn-primary">Filtrer</button>
				{{ form_end(form) }}


			</aside>
			<section id="products-list" class="container">
				<div class="row">
					{% for product in products %}
						<article class="col-md-3 px-2 pb-2 mb-3 mb-md-2">
							<a href="{{path('app_shop/product', {slug : product.slug})}}">
								<div class="h-100 mb-3 d-flex flex-column justify-content-between product-card bg-light ">
									<div class=" p-4">
										<img src="{{asset("/uploads/products/" ~ product.thumbnail)}}" alt="{{ product.name }}" class="card-img-top">

									</div>

									<hr class="my-2 mx-4">
									<div class="card-body px-3 py-2  d-flex flex-column align-items-center justify-content-between">
										<p class="card-title text-center  mb-0">
											<strong>{{ product.name }}</strong>
										</p>
										<p class="fw-bold fs-4 align-self-end mb-0 text-black">{{ product.price }}
											€</p>
									</div>
								</div>
							</a>
						</article>
					{% endfor %}
				</div>
			</section>

		</section>
	</main>
{% endblock %}
