{% extends 'shop_base.html.twig' %}

{% block title %}Boutique MHSC
{% endblock %}

{% block body %}

	<main class="w-100 mb-5 py-5">

		<div class="container">
			<div class="row">
				{% for product in products %}
					<div class="col-md-3">
						<div class="card mb-3">
							<img src="{{product.thumbnail}}" alt="{{ product.name }}" class="card-img-top">
							<div class="card-body">
								<h5 class="card-title">{{ product.name }}</h5>
								<p class="card-text">{{ product.description }}</p>
								<div class="d-flex justify-content-between align-item-center">
									<a href="{{path('app_shop/product', {slug : product.slug})}}" class="btn btn-dark">Voir</a>
									<span class="fs-3 fw-bold mt-auto">{{ product.price }}
										€</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
