{% extends 'shop_base.html.twig' %}

{% block title %}Boutique MHSC
{% endblock %}

{% block body %}

	<main class="w-100 mb-5">

		<header class="shop-page__header mb-5">
			<img class="shop-page__header__image" src="/assets/images/background-bleu.png" alt="Image de présentation de l'article">

			<div class="shop-page__header__title container-md py-4 d-flex align-items-center w-100 ">
				<h1 class="mb-0 text-center w-100 title-primary">MERCI POUR VOTRE COMMANDE</h1>
			</div>
		</header>

		<section class="py-2 py-md-3 px-2 container-md">
			<h3 class="mb-3">Récapitulatif de votre commande</h3>
			<p class="">
				<b>Numéro de commande :</b>
				{{order.reference}}€</p>
			<p>
				<b>Date de la commande :</b>
				{{order.getCreatedAt|date('d/m/y')}}
			</p>
			<p>
				<b>Statut :</b>
				Validée
			</p>
			<p class="">
				<b>Montant :
				</b>
				{{order.amount}}€</p>
			<p>
				<b>Moyen de paiement :</b>
				Carte bancaire (Stripe)
			</p>
		</section>
		<section class="py-2 py-md-3 px-2 container-md">

			<div class="order-page row">
				<div class="order-page__cart col-md-6">

					<h4>Articles</h4>
					<table class="table striped text-center">
						<thead>
							<tr>
								<th>NOM</th>
								<th>QUANTITE</th>
								<th>PRIX UNITAIRE</th>
							</tr>
						</thead>
						<tbody>
							{% for item in order.cart %}

								<tr>
									<td>{{item.product.name}}</td>
									<td>{{item.quantity}}</td>
									<td>{{item.product.price}}
										€</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td>Total :
								</td>
								<td>{{order.amount}}
									€</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="order-page__address col-md-6">
					<h4>Adresse de livraison</h4>
					<div class="p-3 bg-light d-flex flex-column">
						<p class="mb-0">
							<b>Nom :
							</b>
							{{order.user.firstname}}
							{{order.user.lastname}}
						</p>
						<p class="mb-0">
							<b>Adresse ligne 1 :
							</b>
							{{order.address.address}}
						</p>
						<p class="mb-0">
							<b>Adresse ligne 2 :
							</b>
							{{order.address.address2}}
						</p>
						<p class="mb-0">
							<b>Code postal :
							</b>
							{{order.address.zipcode}}
							<b>
								| Ville :
							</b>
							{{order.address.city}}
						</p>
						<p class="mb-0">
							<b>Pays :
							</b>
							{{order.address.country}}
						</p>
						<p class="mb-0">

							<b>Téléphone :
							</b>
							{{order.user.phone}}
						</p>
					</div>
				</div>
			</div>


		</section>

	</main>
{% endblock %}
