{% extends 'admin_base.html.twig' %}

{% block title %}Joueur
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Joueur</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ player.id }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ player.firstname }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ player.lastname }}</td>
				</tr>
				<tr>
					<th>Date de naissance</th>
					<td>
						{{ player.birthdate|date('d/m/Y') }}
					</td>
				</tr>
				<tr>
					<th>Numéro</th>
					<td>
						{{ player.number }}
					</td>
				</tr>
				<tr>
					<th>Role</th>
					<td>
						{{ player.role }}
					</td>
				</tr>
				<tr>
					<th>Equipe</th>
					<td>
						{{ player.team }}
					</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_player_crud_index') }}">Retour à la liste</a>

		<a href="{{ path('app_player_crud_edit', {'id': player.id}) }}">Modifier</a>

		{{ include('player_crud/_delete_form.html.twig') }}
	</main>
{% endblock %}
